/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reset css */
*,*::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
/* --------- */

:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;
  --boder-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --ff-sans: 'Inter', sans-serif;
  --title: 700 1.5rem/2em var(--ff-sans);
  --label: 600 1rem/1.5em var(--ff-sans);
  --paragraph: 500 1rem/1.5em var(--ff-sans);
  --link: 500 0.875rem/1em var(--ff-sans);
}

::-webkit-scrollbar {
  width: 8px;
}

header {
  position: fixed;
  top: 0;
  padding: 2rem;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 627px;
  margin-inline: auto;

  & h1 {
    margin-block-end: 1rem;
    font: var(--title);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

form {
  display: flex;
  gap: 1rem;
  margin-block-end: 2rem;

  & .item-field {
    border: 2px solid var(--boder-primary);
    padding: 0.6875rem;
    width: 100%;
    max-width: 451px;
    border-radius: 0.75rem;
  }

  & .item-btn {
    font: var(--label);
    background-color: var(--color-brand);
    color: var(--always-white);
    padding: 0.6875rem;
    width: 100%;
    max-width: 160px;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
  }
}

ul {
  list-style: none;
  margin-block-end: 2rem;
}

li {
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 627px;
  gap: 0.75rem;

  & span {
    display: flex;
    align-items: center; 
    gap: 1rem;
  }
}

footer {
  width: 100%;
  display: none;
  font: var(--label);
  
  & div {
    display: flex;
    justify-content: space-between;

    & span {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    & span img {
      width: 1.25rem;
      height: 1.25rem;
    }

    & button {
      color: var;
      border: none;
      background: transparent;
      margin-right: .75rem;
    }
  }
}

.show-alert {
  display: block;
  background-color: var(--color-danger);
  padding: .75rem;
  border-radius: 0.75rem;
  color: var(--always-white);
}
